@model List<WebApplication5.Models.CUSTOMERS>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .center {
        margin: auto;
        width: 60%;
        text-align: center;
        padding: 10px;
        */
    }
</style>

<h2 class="center">

    Hoşgeldiniz

</h2>

<h3 class="center">

    İşlem yapmak için sol menüyü kullanabilirsiniz.

</h3>
